@model IEnumerable<SearchHealth.Models.UnidadeSaude>

@{
    ViewBag.Title = "Home Page";
}

<div class="body-content-left">
    <div class="row">
        <input type="text" id="txtEndereco"  class="form-control"  style="display:inline-block !important;" placeholder="Informe o endereço" />
        <input type="button" id="btnPesquisar" class="btn btn-primary" value="Buscar" onclick="getListUnidadeSaude();"/>
    </div>
    <div id="unidadeSaudeBlock" class="row">
        @foreach (var unidadeSaude in Model)
        {
            @*<div class="card">
                @unidadeSaude.Nome - <a href="">Ver Rota</a>
            </div>*@
        }
    </div>
</div>
<div class="body-content-right">
    <div id="map">

    </div>
</div>
